{% extends "base.html" %}
{% block content %}
<h1>Envanter</h1>
<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Eşya Adı</th>
            <th>Miktar</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2" class="text-center text-muted">Depoda Eşya Bulunamadı</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
